asgiref
certifi
charset-normalizer
contourpy
cycler
Django
fonttools
idna
kiwisolver
matplotlib
mysqlclient
numpy
opencv-python
packaging
pillow
pyparsing
pytesseract
python-dateutil
requests
six
sqlparse
tzdata
urllib3
